    
    <h2> Hey, {{ name }} here's some memes! </h2>
    {% if not errorHandler %}
        {% for meme in memeList %}
            <img src="{{meme}}" id="meme"><h4>{{ meme }}<h4></img>
        {% endfor %}
    {% endif %}
        <h3>{{ errorHandler }}</h3>
    </br>
    </br>
    <div class="medium primary btn">
        <a href="#" id="impSug">improve my suggestions</a>
    </div>
    </br>
    </br>
    <li class="prepend append field">
        <span class="adjoined" >Naw, bro Find More:</span>
        <input class="normal text input" type="text" placeholder="Put your text here!" id="tag" />
        <div class="medium primary btn">
            <a href="#" id="finPerMem">meme me!</a>
        </div>
    </li>
