    
    <h1> Hey, {{ name }} here's some memes! </h1>
        {% for meme in memeList %}
            <a href="{{meme}}" id="meme">{{ meme }}</a>
        {% endfor %}
    <div class="medium primary btn">
        <a href="/improveSuggestions">improve my suggestions</a>
    </div>
    </br>
    </br>
    <li class="prepend append field">
        <span class="adjoined">Naw, bro Find More:</span>
        <input class="normal text input" type="text" placeholder="Put your text here!" />
        <div class="medium primary btn">
            <a href="/findPerfectMeme">meme me!</a>
        </div>
    </li>
