    
    <h2>Improve suggested memes</h2>
    <h4>By tagging memes with associated words the eMeme algorithm will learn your preferences and produce better results!</h4>
    <div class="row">
      <section class="twelve columns">
        <article class="valign row">
          <div>
            <img src="{{urlOne}}" width="200" height="400"/>
          </div>
          <div>
            <ul>
            {% for tag in tagListOne %}
                <div class="medium primary btn">
                <a href="#" class="tag" data-imgurl="{{urlOne}}" data-tagname="{{tag}}">{{ tag }}</a>
                </div>
            {% endfor %}
                <br>
                <br>
                <li class="prepend append field">
                    <span class="adjoined">add your own tag:</span>
                    <input class="normal text input" type="text" placeholder="Put your text here!" />
                    <div class="small primary btn">
                        <a href="#" id="finPerMem">tag</a>
                    </div>
                </li>
            </ul>
          </div>
        </article>
        <article class="valign row">
          <div>
            <img src="{{urlTwo}}" width="200" height="400"/>
          </div>
          <div>
            <ul>
            {% for tag in tagListTwo %}
                <div class="medium primary btn">
                <a href="#" id="tag" data-imgUrl="{{urlTwo}}" data-tagname="{{tag}}">{{ tag }}</a>
                </div>
            {% endfor %}
                <br>
                <br>
                <li class="prepend append field">
                    <span class="adjoined">add your own tag:</span>
                    <input class="normal text input" type="text" placeholder="Put your text here!" />
                    <div class="small primary btn">
                        <a href="#" id="finPerMem">tag</a>
                    </div>
                </li>
            </ul>

          </div>
        </article>
      </section>
    </div>
