<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> 
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/Product"> 
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>eMeme | Find the perfect Meme</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="humans.txt">

	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<link rel="stylesheet" href="static/css/gumby.css">

	<script src="static/bower_components/gumby/js/libs/modernizr-2.6.2.min.js">
	</script>
</head>

<!-- added Google+ Javascript for signin button -->

<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>

<body>
	<!--///////////// ______________________________\\\\\\\\\\\\ -->
	<!--///////////// ______________________________\\\\\\\\\\\\ -->
	<!--///////////// this is the start of my script\\\\\\\\\\\\ -->
	<!--///////////// ______________________________\\\\\\\\\\\\ -->
	<!--///////////// ______________________________\\\\\\\\\\\\ -->

	<div class="navbar fixed" id="nav1" id="personalize" >
	  <div class="row">
		  <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
		  <h1 class="four columns logo">
		    <a href="#">
		      <img src="static/img/icons/eMeme128.png" />
		    </a>
		  </h1>
		  <ul class="eight columns">
		    <li class="skiplink">
		    	<a href="#" gumby-goto="#Login" gumby-duration="2000">Login</a>
		    </li>
		    <li class="skiplink">
		    	<a href="#" gumby-goto="#Register" gumby-duration="2000">Learn More</a>
		    </li>
		    <li class="skiplink">
		    	<a href="#" gumby-goto="#Download" gumby-duration="2000">Download</a>
		    </li>
		  </ul>
		</div>
	</div>

	<!--///////////// ______________________________\\\\\\\\\\\\ -->
	<!--///////////////// this is my landing bar  \\\\\\\\\\\\\\ -->
	<!--///////////// ______________________________\\\\\\\\\\\\ -->

	<section class="parallax" gumby-parallax='.5' gumby-offset="-20" id="Download">
		<div class="container">
			<div class="margins" id="landingBar">
				<div class="article">
					<header>
						<h1 class="toggle ptogg1" gumby-trigger=".ptogg1">
							eMeme: </br> Find the perfect meme
						</h1>
						<p class="toggle ptogg1" gumby-trigger=".toggle" >
							eMeme is a meme recommendation engine powered by a Neo4j graph database, written primarily in Python with a Flask microframework backend. The front end is written with javaScript and Sass.
						</p>
					</header>
				</div>	
			</div>
		</div>
	</section>

	<section class="parallax" gumby-parallax='.5' gumby-offset="64" id="Login">
		<div class="container">
			<div class="margins">
				<div class="article">
					<center>
						<button 
							id="signinButton" 
							class="g-signin"
					        data-scope="https://www.googleapis.com/auth/plus.login"
					        data-clientid="403952788560.apps.googleusercontent.com"
					        data-callback="signinCallback"
					        data-theme="dark"
					        data-cookiepolicy="single_host_origin"
					        data-requestvisibleactions="http://schemas.google.com/AddActivity"
					        data-width="wide">
				    	</button>
			    	</center>
				</div>	
			</div>
		</div>
	</section>

<!-- TODO: this is a temporary and janky fix- if there's time, disconnent the Register and Download toggle connection. Right now they are calling each other. -->

	<section class="parallax" gumby-parallax='.5' gumby-offset="-20" id="Register">
		<div class="container">
			<div class="margins" id="landingBar">
				<div class="article" id="postLoginPage">
					<header>
						<h1 class="toggle ptogg1" gumby-trigger=".ptogg1">
							All the memes you actually want.
						</h1>
						<p class="toggle ptogg1" gumby-trigger=".toggle" >
							Enter a selection of text you'd like to respond to and eMeme's algorithm will recommend the best suited response. eMeme learns your preferences over time and gets better at making suggestions so you get the best memes for any situation. 
						</p>
					</header>
				</div>	
			</div>
		</div>
	</section>

	<!-- Grab Google CDN's jQuery, fall back to local if offline -->
	<!-- 2.0 for modern browsers, 1.10 for .oldie -->
	<script>
	var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
	if(!oldieCheck) {
		document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
	} else {
		document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
	}
	</script>
	<script>
	if(!window.jQuery) {
		if(!oldieCheck) {
		  document.write('<script src="bower_components/gumby/js/libs/jquery-2.0.2.min.js"><\/script>');
		} else {
		  document.write('<script src="bower_components/gumby/js/libs/jquery-1.10.1.min.js"><\/script>');
		}
	}
	</script>

	<script type="text/javascript" >

	$(document).ready(function(){
		// put things here if you want something to run when the page first finished loading.
	});

	function loginOrAddUser(authResult, profile){
	    $.ajax({
			url: "/login",
			method: "POST",
			data: {access_token: authResult['access_token'],
					userId: profile.id,
					name: profile.displayName,
					gender: profile.gender,
					language: profile.language,
					profileImg: profile.image.url
					},
			success: function (response){
				$(document.getElementsByTagName("section")[0]).hide();
				$(document.getElementsByTagName("section")[1]).hide();
				$("#postLoginPage").html(response);
				$("#impSug").on("click", function(e){
					e.preventDefault();
					improveMemeSuggestions();
				});
				$("#finPerMem").on("click", function(e){
					e.preventDefault();
					findPerfectMeme();
					//TODO: Add function to call here! (ajax call)
				})
				//TODO: use jquery to change the nav bar to show the profile pic and welcome with name
				// $(".navbar").personalize();
			}
		});
	};

	function improveMemeSuggestions(){
	    $.ajax({
			url: "/improveSuggestions",
			method: "GET",
			success: function (response){
				$("#postLoginPage").html(response);
				$(".tag").on("click", function(e){
					e.preventDefault();

					var tag = e.target.innerHTML;

					var img = $(this).data("imgurl")
					sendTagWeightToDB(tag, img)
				})
				//TODO: add event listeners here to listen to the forms (when users submit tags) treat individual tag clicks as form submissions.
			}
		});
	};
	//make another ajax function call and pass it the img url and the tag name
	function sendTagWeightToDB(tag, imgurl){
		$.ajax({
			url: "/improveSuggestions",
			method: "POST",
			data: {
				tagName: tag,
				imgSrc: imgurl
			},
			success: function (response){
				console.log(response);
			}
		})
	}

	function findPerfectMeme(){
		$.ajax({
			url: "/findPerfectMeme",
			method: "GET",
			data: {
				tag: document.getElementById("tag").value
			},
			success: function (response){
				$("#postLoginPage").html(response);
				$("#impSug").on("click", function(e){
					e.preventDefault();
					improveMemeSuggestions();
				});
				$("#finPerMem").on("click", function(e){
					e.preventDefault();
					findPerfectMeme();
				//TODO: add event listeners here to listen to the forms
				});

			}
		});
	};	

	function loadCallback(authResult) {
	  if (authResult['access_token']) {
	    // Successfully authorized
	    console.log(authResult['access_token']);
	    // get profile data from g+
	    user = gapi.client.plus.people.get({'userId':'me'});
	    user.execute(function(userData){
	    	//set userProfile data globally
	    	userProfile = userData;
	    	loginOrAddUser(authResult, userData);
	    })

	  } else if (authResult['error']) {
	    // There was an error.
	    // Possible error codes:
	    //   "access_denied" - User denied access to your app
	    //   "immediate_failed" - Could not automatially log in the user
	    // console.log('There was an error: ' + authResult['error']);
	  }
	}

	function signinCallback(authResult) {
	  	gapi.client.load('plus','v1', function(){ 
		// once we get this call back, gapi.client.plus.* will exist
			loadCallback(authResult);
		});

	}

	//TODO: add logout functionality with page redirects and routes if needed
	function disconnectUser(access_token) {
	  var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
	      access_token;

	  // Perform an asynchronous GET request.
	  $.ajax({
	    type: 'GET',
	    url: revokeUrl,
	    async: false,
	    contentType: "application/json",
	    dataType: 'jsonp',
	    success: function(nullResponse) {
	      // Do something now that user is disconnected
	      // The response is always undefined.
	    },
	    error: function(e) {
	      // Handle the error
	      // console.log(e);
	      // You could point users to manually disconnect if unsuccessful
	      // https://plus.google.com/apps
	    }
	  });
	}
	//TODO: add button with id revokeButton to disconnect user
	$('#revokeButton').click(disconnectUser);

	

	var	personalize = function(){
	    var user = gapi.client.plus.people.get( {'userId' : 'me'} );
	    user.execute(function(personalize){
	      $('#profile').append(
	            $('<p><img src=\"' + personalize.image.url + '\"></p>')
	        );
	      $('#profile').append(
	            $('<p>Hello ' + personalize.displayName + '</p>')
	      ); 
	   });
	}
	</script>

	<script src="static/bower_components/gumby/js/plugins.js"></script>
	<script src="static/js/gumby.min.js"></script>
	<script src="static/bower_components/gumby/js/main.js"></script>

	
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

  </body>
</html>
