    
    <h2> Welcome back, {{ name }} ! </h2>
    <img src="https://i.chzbgr.com/maxW500/8128642304/hBCA43011/" alt="test photo" height="400" width="200">
    <img src="https://i.chzbgr.com/maxW500/8128820992/h8AD24FD0/" height="400" width="200">
    <img src="https://i.chzbgr.com/maxW500/8128788224/h01A246A1/" alt="test photo" alt="test photo" height="400" width="200">
    </br>
    </br>
    </br>
    <div class="medium primary btn">
        <a href="#" id="impSug">improve my suggestions</a>
    </div>
    </br>
    </br>
    <li class="prepend append field">
        <span class="adjoined">find the perfect meme</span>
        <input class="normal text input" type="text" placeholder="Put your text here!" id="tag" />
        <div class="medium primary btn">
            <a href="#" id="finPerMem">meme me!</a>
        </div>
    </li>
